* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 350px;
    border: 1px solid rgb(194, 186, 186);
    padding: 30px 40px;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.input-box {
    width: 100%;
    padding-bottom: 10px;
}


input {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    border: 1px solid rgb(194, 186, 186);
    border-radius: 3px;
    background-color: rgba(226, 226, 226, 0.212);
}

.input-box input {
    padding: 0 10px;
}

.btn {
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    background: rgb(48, 185, 240);
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 7px;
}


.separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 23px;
    column-gap: 18px;
    font-size: 14px;
    color: grey;
}

.separator span:nth-child(1),
.separator span:nth-child(3) {
    width: 100%;
    height: 1px;
    background: grey;
    display: block;
}

.fb-logo {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.fb-logo button {
    border: none;
    outline: none;
    background: white;
}

.fb-logo button a {
    text-decoration: none;
    color: rgb(12, 12, 173);
    font-weight: 500;
    font-size: 14px;
    font-family: sans-serif;
}

.fb-logo button img {
    position: relative;
    top: 30%;
}

.forget-password {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    padding-bottom: 2px;
    font-size: 1px;
    font-family: sans-serif;
    font-weight: 300;
}

.forget-password button {
    border: none;
    outline: none;
    background: white;
}

.forget-password button a {
    text-decoration: none;
    color: rgb(12, 12, 173);
}

.container2 {
    width: 350px;
    border: 1px solid rgb(194, 186, 186);
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-family: sans-serif;
    font-size: 14px;
}

.container2 a {
    color: rgb(48, 185, 240);
    font-weight: 600;
}

.container2 p a {
    text-decoration: none;
}